.distCard {
  width: 30%;
  border-left: 4px solid #F44336;
  margin: 10px;
  height: 200px;
}

h4, ul {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 20px;
  padding: 5px;
}

ul {
  font-size: 15px;
  padding-left: 5px;
}

.bad {
  color: #757575;
}

.good {
  color: #448AFF;
}

@media (max-width: 1000px) {
  .distCard {
    width: 40%;
  }
}

@media (max-width: 620px) {
  .distCard {
    width: 80%;
  }
}