article {
  background-color: #F44336;
  display: flex;
  align-items: center;
}

input {
  font-family: "Raleway", sans-serif;
  margin: 20px 5px 25px 18px;
  font-size: 20px;
  width: 300px;
}

@media (max-width: 415px) {
  input {
    width: 250px;
  }
}